{% extends 'base.html.twig' %}

{% block title %}Espace Membre{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="mb-3">
            <h1> Bienvenue {{ app.user.username }} </h1>
            <p> <a href="/algorithme"> CSV FUSION</a> </p>
            <br>
            <h1>pour te déconnecter appuie sur <a href="{{ path('app_logout') }}">se déconnecter</a> </h1>
        </div>
    {% endif %}

{% endblock %}