{% extends 'base.html.twig' %}

{% block title %}Espace Membre{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="mb-3">
            Bienvenue {{ app.user.username }}, pour te déconnecter appuie sur <a href="{{ path('app_logout') }}">se déconnecter</a>
        </div>
    {% endif %}

{% endblock %}