{% extends 'base.html.twig' %}

{% block title %}Vetux-Line{% endblock %}

{% block body %}

<head>
    <meta charset="UTF-8">
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset("assets/index.css") }}" />
    {% endblock %}
</head>

<body>
    <div class="background-one">
        <div class="link-container">
          <a class="link-one" href="/login">Login</a>
        </div>
      </div>
      <div class="background-two link-container">
        <h1 class="link-three">Vetux-Line </h1>
      </div>
      <div class="background-three link-container">
        <a class="link-one" href="/register">Register</a>
      </div>
</body>
{% endblock %}
